/* Slide 1 */


. bannernews {
  tampilan : fleksibel;
  menyelaraskan-item : tengah;
  justify-content : center;
  min-tinggi :  20 vh ;
  tampilan : fleksibel;
  flex-wrap : bungkus;
  latar belakang :  # FFA0A0 ;
  celah :  1 rem ;
}
. penggeser {
  lebar :  350 piksel ;
  tinggi :  200px ; _
  luapan : tersembunyi;
}
. slidernewera {
  lebar :  330 px ;
  max-width : otomatis;
  tinggi : otomatis;
  border-radius :  5 px ;
  luapan : tersembunyi;
}
. slide {
  lebar :  520 % ​​;
  tinggi :  520px ; _
  tampilan : fleksibel;
}
. masukan slide  {
  tampilan : tidak ada;
}
. geser {
  lebar :  20 % ;
  transisi :  1 detik ;
}
. geser  img {
  lebar :  335 px ;
  tinggi :  200px ; _
  objek-posisi : pusat;
  luapan : tersembunyi;
}
. navigasi-manual {
  posisi : absolut;
  lebar :  20 piksel ;
  tinggi :  10 piksel ;
  margin-atas :  210 px ;
  tampilan : fleksibel;
  margin-kiri :  130 px ;
}
. manual-btn {
  perbatasan :  2 px padat;
  warna :  #FFFFFF ; _
  bantalan :  5px ; _
  border-radius :  10 px ;
  transisi :  0 , 5 detik ;
  kursor : penunjuk;
}
. manual-btn : bukan ( : anak terakhir ){
  margin-kanan :  15 px ;
}
. manual-btn : arahkan {
  latar belakang :  # FF0000 ;
}
. manual-btn : bukan ( : arahkan kursor ){
  latar belakang :  #fff ;
}

# radio1 : diperiksa  ~ . pertama {
  margin-kiri :  0 ;
}
# radio3 : diperiksa  ~ . pertama {
  margin-kiri :  -20 % ;
}
# radio4 : diperiksa  ~ . pertama {
  margin-kiri :  -40 % ;
}
# radio5 : diperiksa  ~ . pertama {
  margin-kiri :  -60 % ;
}



/*Slide 2 JKT48TV */




.slides2 input{
  display: none;
}
.jkt48tvvideo{
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 1rem;
}
.sliderek{
  transition: 1s;
}
.slider2{
  width: 370px;
  height: 400px;
  overflow: hidden;
}
.slides2{
  width: -520%;
  height: 520px;
  display: flex;
}
.sliderek iframe{
  margin-left: -2px;
  overflow: hidden;
  width: 370px;
  height: 200px;
}
.navigation-manual2{
  position: absolute;
  width: 20px;
  height: 10px;
  margin-top: 340px;
  display: flex;
  margin-left: 130px;
}
.manual-btn2{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  transition: 0,5s;
  cursor: pointer;
}
.manual-btn2:not(:last-child){
  margin-right: 9px;
}
.manual-btn2:hover{
  background: #FF0000;
}

#radio1rek:checked ~ .firstrek{
  margin-left: 0;
}
#radio2rek:checked ~ .firstrek{
  margin-left: -101%;
}
#radio3rek:checked ~ .firstrek{
  margin-left: -202%;
}
#radio4rek:checked ~ .firstrek{
  margin-left: -303%;
}
#radio5rek:checked ~ .firstrek{
  margin-left: -404%;
}




/* Slide 3 */



.slides3 input{
  display: none;
}
.mvmusic{
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 1rem;
}
.slidemvmusic{
  transition: 1s;
}
.slider3{
  width: 370px;
  height: 400px;
  overflow: hidden;
}
.slides3{
  width: -520%;
  height: 520px;
  display: flex;
}
.slidemvmusic iframe{
  margin-left: -2px;
  overflow: hidden;
  width: 370px;
  height: 200px;
}
.navigation-manual3{
  position: absolute;
  width: 20px;
  height: 10px;
  margin-top: 340px;
  display: flex;
  margin-left: 120px;
}
.manual-btn3{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  transition: 0,5s;
  cursor: pointer;
}
.manual-btn3:not(:last-child){
  margin-right: 8px;
}
.manual-btn3:hover{
  background: #FF0000;
}

#radio1mvmusic:checked ~ .firstmvmusic{
  margin-left: 0;
}
#radio2mvmusic:checked ~ .firstmvmusic{
  margin-left: -101%;
}
#radio3mvmusic:checked ~ .firstmvmusic{
  margin-left: -202%;
}
#radio4mvmusic:checked ~ .firstmvmusic {
  margin-left: -303%;
}
#radio5mvmusic:checked ~ .firstmvmusic {
  margin-left: -404%;
}
#radio6mvmusic:checked ~ .firstmvmusic{
  margin-left: -505%;
}


/* Slide 4 */

.slides4 input{
  display: none;
}
.teaservideo{
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 1rem;
}
.slideteaser{
  transition: 1s;
}
.slider4{
  width: 370px;
  height: 400px;
  overflow: hidden;
}
.slides4{
  width: -520%;
  height: 520px;
  display: flex;
}
.slideteaser iframe{
  margin-left: -2px;
  overflow: hidden;
  width: 370px;
  height: 200px;
}
.navigation-manual4{
  position: absolute;
  width: 20px;
  height: 10px;
  margin-top: 340px;
  display: flex;
  margin-left: 149px;
}
.manual-btn4{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  transition: 0,5s;
  cursor: pointer;
}
.manual-btn4:not(:last-child){
  margin-right: 10px;
}
.manual-btn4:hover{
  background: #FF0000;
}

#radio1teaser:checked ~ .firstteaser{
  margin-left: 0;
}
#radio2teaser:checked ~ .firstteaser{
  margin-left: -101%;
}
#radio3teaser:checked ~ .firstteaser{
  margin-left: -202%;
}



/* Slide 5 */




.slides5 input{
  display: none;
}
.jkt48newera{
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 1rem;
}
.slidenewera{
  transition: 1s;
}
.slider5{
  width: 370px;
  height: 400px;
  overflow: hidden;
}
.slides5{
  width: -520%;
  height: 520px;
  display: flex;
}
.slidenewera iframe{
  margin-left: -2px;
  overflow: hidden;
  width: 370px;
  height: 200px;
}
.navigation-manual5{
  position: absolute;
  width: 20px;
  height: 10px;
  margin-top: 340px;
  display: flex;
  margin-left: 149px;
}
.manual-btn5{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  transition: 0,5s;
  cursor: pointer;
}
.manual-btn5:not(:last-child){
  margin-right: 10px;
}
.manual-btn5:hover{
  background: #FF0000;
}

#radio1newera:checked ~ .firstnewera{
  margin-left: 0;
}
#radio2newera:checked ~ .firstnewera{
  margin-left: -101%;
}
#radio3newera:checked ~ .firstnewera{
  margin-left: -202%;
}





/* Slide 6 */




.slides6 input{
  display: none;
}
.shortmvjkt48{
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 1rem;
}
.slideshortmv{
  transition: 1s;
}
.slider6{
  width: 370px;
  height: 400px;
  overflow: hidden;
}
.slides6{
  width: -520%;
  height: 520px;
  display: flex;
}
.slideshortmv iframe{
  margin-left: -2px;
  overflow: hidden;
  width: 370px;
  height: 200px;
}
.navigation-manual6{
  position: absolute;
  width: 20px;
  height: 10px;
  margin-top: 340px;
  display: flex;
  margin-left: 84px;
}
.manual-btn6{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  transition: 0,5s;
  cursor: pointer;
}
.manual-btn6:not(:last-child){
  margin-right: 8px;
}
.manual-btn6:hover{
  background: #FF0000;
}

#radio1shortmv:checked ~ .firstshortmv{
  margin-left: 0;
}
#radio2shortmv:checked ~ .firstshortmv{
  margin-left: -101%;
}
#radio3shortmv:checked ~ .firstshortmv{
  margin-left: -202%;
}
#radio4shortmv:checked ~ .firstshortmv {
  margin-left: -303%;
}
#radio5shortmv:checked ~ .firstshortmv {
  margin-left: -404%;
}
#radio6shortmv:checked ~ .firstshortmv{
  margin-left: -505%;
}
#radio7shortmv:checked ~ .firstshortmv{
  margin-left: -606%;
}
#radio8shortmv:checked ~ .firstshortmv {
  margin-left: -707%;
}
#radio9shortmv:checked ~ .firstshortmv {
  margin-left: -808%;
}