  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root{
  --main-color:#008148;
  --second-color:#1e3932;
  --pink-color:#A94064;
  --putih-color:#fff;
}
section {
 padding: 50px 10%;
}
*::selection {
  color: #fff;
  background: var(--main-color);
}
img{
  width: 100%;
}
.logo h2{
  color: #000000;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: -7%;
}
.logo img{
  width: 30px;
}
.navbar{
  display: flex;
}
.navbar a{
  font-size: 70%;
  padding: 8px 20px;
  color: #575757;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar a:hover{
  background-color: #4C4D4F;
  color: #ff2e2e;
}
#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
li a,
.dropbtn {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #4C4D4F;
    transition: all 0.3s ease;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4C4D4F;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 1rem;
}

.schedule{
  width: 100%;
  background: #FFD1DC;
  gap: 1rem;
}
.home-text{
  flex: 1 1 17rem;
}
.home-img{
  flex: 1 1 5rem;
}
.home-img img{
  animation: animate 3s linear infinite;
}
@keyframes animate{
  0%{
    transform: translate(-5px, 5px);
  }
  50%{
    transform: translate(-5px, -5px);
  }
  100%{
    transform: translate(-5px, 5px)
  }
}
.home-text span{
  font-size: 1rem;
  text-decoration: uppercase;
  font-weight: 600;
  color: var(--second-color);
}
.home-text h1{
  font-size: 3.2rem;
  color: #ff0000;
  font-weight: bolder;
}
.home-text h2{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--second-color);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}
.btn{
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
}
.btncolorpink{
  padding: 7px 16px;
  border: 2px solid var(--pink-color);
  border-radius: 40px;
  color: var(--pink-color);
  font-weight: 500;
}
.btncolorpink:hover{
  color: #fff;
  background: #FC6C85;
}
.btnbocil{
  padding: 5px 10px;
  border: 2px solid var(--second-color);
  border-radius: 20px;
  color: var(--second-color);
  font-weight: 300;
}
.btnbocil:hover{
  color: #ebdbc8;
  background: var(--second-color);
}
.btn_center{
  text-align: center;
  margin: auto;
  display: block;
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
}
.btn_center:hover{
  color: #ebdbc8;
  background: var(--second-color);
}
.btn:hover{
  color: #ebdbc8;
  background: var(--second-color);
}
.heading{
  text-align: center;
  text-transform: uppercase;
}
.centertext{
  text-align: center;
  text-transform: uppercase;
}
.centertext span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}
.centertext h1{
  font-size: 2rem;
  color: #ff0000;
}
.centertext h3{
  font-size: 1.5rem;
  color: #ff0000;
}
.jkttext h1{
  font-size: 3.5rem;
  color: #575757;
  font-weight: bolder;
}
.heading span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}
.heading h1{
  font-size: 2rem;
  color: #ff0000;
}

.shop-container2{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 5rem;
  align-items: center;
}
.shop-container3{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
.shop-container2 .box2{
  padding: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  border-radius: 0.5rem;
}
.shop-container2 .box2 .box-img2{
  width: 90px;
  height: 90px;
  margin-top: -100px;
}
.shop-container2 .box2 .box-img2 img{
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center;
  border-radius: 70%;
  border: 2px solid #fa8383;
}
.shop-container2 .box2 h2{
  color: #fa8383;
  font-size: small;
}
.shop-container3{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
.shop-container3 .box2{
  padding: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  border-radius: 0.5rem;
}
.shop-container3 .box2 .box-img2{
  width: 90px;
  height: 90px;
  margin-top: -100px;
}
.shop-container3 .box2 .box-img2 img{
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center;
  border-radius: 70%;
  border: 2px solid #fa8383;
}
.shop-container3 .box2 h2{
  color: #fa8383;
  font-size: small;
}
.title{
  font-size: smaller;
  font-weight: 300;
  border: 2px solid #ffcdcd;
  background: #ffcdcd;
  border-radius: 0.5rem;
  color: #ff5353;
}
.box2 .btn2{
  padding: 3px 5px;
  border: 2px solid #fa8383;
  color: #fa8383;
  border-radius: 10%;
  font-size: small;
  font-weight: 300;
}
.box2 .btn2:hover{
  background: #ff0000;
  color: #fff;
}
.container2{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.show{
  font-size: small;
  font-weight: 300;
  color: #ff2323;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social a{
  font-size: 27px;
  margin: 0.5rem;
}
.social a .bx{
  padding: 5px;
  color: #fff;
  background: #161616;
  border-radius: 50%;
}
.social a .bx:hover{
  background: #ebdbc8;
}
.links{
  margin: 1rem 0 1rem;
}
.links a{
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
  padding: 1rem;
}
.links a:hover{
  color: var(--main-color);
}
.contact p{
  text-align: center;
}
@media (max-width:1150px){
  header{
    padding: 18px 7%;
  }
  section{
    padding: 50px 7%;
  }
  .home-text h1{
    font-size: 3rem;
  }
  .home-text h2{
    font-size: 1.5rem;
  }
}
@media (max-width:991px){
  header{
    padding: 18px 4%;
  }
  section{
    padding: 50px 4%;
  }
}
@media (max-width:768px){
  header{
    padding: 11px 7%;
  }
  #menu-icon{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: -900px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #ACACAC;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid #575757;
    transition: 0.2s;
    text-align: left;
  }
  .navbar.active{
    top: 100%;
  }
  .navbar a{
    padding: 1.5rem;
    display: block;
    color: #fff;
  }
  .home-text span{
    font-size: 0.9rem;
  }
  .home-text h1{
    font-size: 2.4rem;
  }
  .home-text h2{
    font-size: 1.2rem;
  }
}
@media (max-width:768px){
  .home-text{
    padding-top: inherit;
  }
  .shop-container .box{
    margin-top: 6rem;
  }
  .heading h1{
    font-size: 1.5rem;
  }
  .heading span{
    font-size: 0.9rem;
  }
  .about{
    flex-direction: column-reverse;
  }
}
@media (max-width:365px){
  .links{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 470px) {
.jkt48tvvideo{

}
}
.shadow{
  text-align: center;
}
.titlelarge{
  font-size: medium;
  font-weight: 500;
  border: 5px solid #ffcdcd;
  background: #ffcdcd;
  border-radius: 0.5rem;
  color: #ff5353;
}
.garis_vertikal{
  border: 1px black solid;
  height: 100px;
  width: 0px;
}
.detail{
  text-align: center;
}
.batas{
  border: 5px rgba(255, 255, 255, 0) solid;
  width: 0px;
}
.biodata{
  text-align: left;
}
.mediasosial{
  text-align: left;
}
.btnpink{
  padding: 5px 10px;
  border: 2px solid #f84f4f;
  border-radius: 20px;
  color: #f84f4f;
  font-weight: 300;
}
.btnpink:hover{
 background-color: red;
 color: white;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans serif;
}
.contentlist{
  margin: 0 5px 0 5px;
}
.contentlist h1{
  font-size: 24px; 
  margin-top: 20px;
}
.contentlist .garis{
  margin-top: 1px;
  background:#444449;
  width: 130px;
  height: 3px;
}
.contentlist .garis3{
  margin-top: 1px;
  background:#444449;
  width: 275px;
  height: 3px;
}
.contentlist .garis2{
  margin-top: 1px;
  background:#444449;
  width: 70px;
  height: 3px;
}
.list::-webkit-scrollbar{
  height: 4px;
  border-radius: 10px;
  background: transparent;
}
.list::-webkit-scrollbar-thumb{
  background: #FF0000;
}
.list{
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  padding-left: 2px;
}
.list .boxlist{
  box-shadow: rgba(64, 60, 67, 0.3) 0px 1px 2px 0px, rgba(64, 60, 67, 0.15) 0px 2px 6px 2px;
  margin: auto;
  border-radius: 10px;
  width: 230px;
  text-align: center;
  height: 220px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 12px;
}
.list .boxlist img{
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius:20px; 
}
.list .boxlist h3{
  color: red;
  font-size: medium;
}
.list .boxlist h4{
  color: red;
  font-size: medium;
}